body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 20px;
}

.header {
  background: #7d2d45;
  color: white;
  padding: 10px;
}

.card {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

input, select {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
